.container {
  padding: 10px;
  display: block;
}

/* .sec-container {
  display: block;
  margin-top: 20px;
} */

.vid-input-container {
  display: block;
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
}

.vid-input-container button {
  margin-right: 10px;
}

.vid-progress-container {
  display: block;
  width: 60%;
  margin: auto;
  padding: 20px;
}

.vid-progress-container h5 {
  padding: 0px;
  margin: 1px;
}

.video-container {
  display: block;
  width: 60%;
  margin: 50px auto;
}

.pc-container {
  display: block;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(144, 238, 144, 0.5);
}

.pc-container:hover {
  background-color: rgba(200, 200, 200, 0.5);
  cursor: pointer;
}

.pc-container label:hover {
  cursor: pointer;
}
/* .singlePhoto {
  display: inline-block;
}

.singlePhoto p {
  text-align: center;
} */
